upstream webservice {
    {% for host in groups['webservers'] %}
    server {{ hostvars[host]['ansible_default_ipv4']['address'] }}              fail_timeout=10;
    {% endfor %}
}
server {
    listen 9001 default_server;
    listen [::]:9001 default_server;

    root /var/www/html;

    index index.html index.htm index.nginx-debian.html;

    server_name _;

    location / {
        proxy_pass http://localhost;
    }
}
